.topnavbar {
  background-color: #5741d9;
  color: #fff;
}

ol,
ul {
  list-style: none;
}

.navbarcontainer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

ul > li {
  margin: 10px;
}
